<div class="options" *ngIf="data && data.menuContentType === 'MultipleDocuments'">
    <label>Document:</label>
    <mat-radio-group [(ngModel)]='selectedDocumentName' (ngModelChange)="onDocumentTypeChange($event)"
        aria-label="Select an option">
        <mat-radio-button *ngFor="let documentName of documentNames" [value]="documentName">{{documentName | fileText}}
        </mat-radio-button>
    </mat-radio-group>
</div>
<iframe *ngIf="selectedAttachment && selectedAttachment.ServerRelativeUrl" class="embed-content"
    [src]="selectedAttachment.ServerRelativeUrl | safe" width="100%" height="750px"></iframe>